@model Comix.ViewModels.Comics.ChapterViewModel

@{
    ViewData["Title"] = "Загрузка комикса";
}

<script src="~/lib/angular/angular.js"></script>
<script src="~/js/controllers.js"></script>

<h2>Загрузка комикса</h2>

<form asp-action="Create" ng-app="comicsApp">
    <div class="form-horizontal"  ng-controller="ComicsListCtrl">
        <h4>Загрузка комикса</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>


        <div class="form-group  col-md-10">
            <label asp-for="ComicsKindTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="radio" ng-repeat="comicsKind in comicsKinds">
                    <label>
                        <input type="radio" name="optionsRadios" value="{{comicsKind.Id}}" checked>
                        {{comicsKind.Title}}
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group  col-md-10">
            <label asp-for="ComicsTitle" class="col-md-2 control-label"></label>
            <div class="input-group col-md-10">
                <input type="text" class="form-control input-group-lg" aria-label="..." ng-model="comics.Title">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" ng-model="comics" role="menu">
                        <li ng-repeat="comics in comicses">{{comics.Title}}</li>
                    </ul>
                </div><!-- /btn-group -->
            </div>
        </div>

     

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
